body{
    background-color: rgb(132, 201, 223);
}
img#img1 {
    margin-top: 55px;
}

section#about1{
    margin-top: 130px;
}

p#yolo{
    font-size: 20px;
    background: rgb(132, 201, 223);;
    font-weight: bold; 
    padding: 15px; 
    border-left: 5px solid #085b66;
}

h2{
    font-size: 80px;
}

@media (max-width: 767px) {
    #about p {
        font-size: 14px;
    }

    #titulo {
        font-size: 28px;
    }
}