body{
    background-color: rgb(132, 201, 223);
    text-align: center;
    align-items: center;
}

form{
    padding-top: 30px;
    padding-bottom: 50px;
} 
.section-title{
    max-height: 800px;
    background-color: rgb(253, 253, 253);
    padding: 15px;
    border-radius: 30px;
    border-style:hidden;
    margin-top: 90px;
}
 .text-center{
    margin-top: 9px;
 }

 button{
    padding: 10px 20px;
    background-color: #147074;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 5px 0px 0 rgba(0, 0, 0, 0.19);
 }

 button:hover {
    background-color: #12258f;
  }
  
 button:active {
    background-color: #6bbdd1;
  }

  table{
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    max-width: 300px;
  }